@tailwind base;
@tailwind components;
@tailwind utilities;

page {
    text-align: justify;
}

._img {
    border: 0;
    border-radius: 4px;
}

.ipx {
    padding-bottom: calc(env(safe-area-inset-bottom) - 20px);
}